.todo-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    input,
    button {
      margin: 15px 0; /* Adjusted margin to increase the gap */
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 300px;
    }

    button {
      cursor: pointer;
      background-color: #4caf50;
      color: white;
      border: none;
      width: 100px;

      &:hover {
        background-color: #45a049;
      }
    }
  }

  .task-table {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;

    .todo-item {
      border-radius: 5px; /* Ensure consistent border radius */
    }
  }
}
